.navbar,.heading-data,.footer-nav,.custom-header{
        background-color:#19398a;
        color:white;
}
   
.loginForm{
     border: 1px solid gray;
     padding: 10px 25px 25px 25px;
     box-shadow: 5px 10px 8px 10px #888888;
}

.regform{
     border: 1px solid gray;
     padding: 10px 25px 25px 25px;
     box-shadow: 5px 10px 8px 10px #888888;
}

